<div ng-controller="student_listCtrl">
	<rjx_studentlist>
		<div class="rjx_student">
			<div class="rjx_student_header">学生列表</div>
			<table border="0" class="rjx_student_main">
				<thead class="rjx_student_main_header">
					<th>姓名</th>
					<th>班级</th>
					<th>性别</th>
					<th>手机号</th>
					<th>操作</th>
				</thead>
				<tbody class="rjx_student_main_content">
					
				</tbody>
			</table>
		</div>
		
		<!--详细信息-->
		<div class="rjx_student_more">
			<div class="rjx_more_con">
				<div class="rjx_more_mes">
					<ul>
						<li>姓名:<span></span></li>
						<li>性别:<span></span></li>
						<li>宿舍号:<span></span></li>
						<li>出生年月:<span></span></li>
					</ul>
					<ul>
						<li>家长姓名:<span></span></li>
						<li>学生电话:<span></span></li>
						<li>家长电话:<span></span></li>
					</ul>
					<ul>
						<li>班主任:<span></span></li>
						<li>授课老师:<span></span></li>
						<li>班主任电话:<span></span></li>
					</ul>
					<p class="rjx_map">家庭住址:<span></span></p>
					<ul>
						<li>实训阶段:<span></span></li>
						<li>综合分数:<span></span></li>
					</ul>
					<span class="rjx_my_erro button button-rounded button-flat-caution">违纪详情</span>
					<!--<p class="lxm_my_erro">违纪详情</p>-->
				</div>
				<div class="rjx_more_achievement">
					<p>周考成绩</p>
					<div class="rjx_detailed">
						<ul>
							<li>第一周</li>
							<li>第二周</li>
							<li>第三周</li>
							<li>第四周</li>
						</ul>
						<ul>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>
				</div>
				<i class="glyphicon glyphicon-remove rjx_student_erro_one"></i>
			</div>
		</div>
		<!--违纪详情-->
		<div class="rjx_discipline">
			<p>违纪详情</p>
			<table class="table table-hover rjx_table_two">
					<thead>
				    	<th>违纪时间</th>
				    	<th>违纪扣分</th>
				    	<th>违纪事件</th>
					</thead>
					<tbody>
				    	<tr>
				    		<td></td>
				    		<td></td>
				    		<td></td>
				     	</tr>
					</tbody>
				</table>
				<i class="glyphicon glyphicon-remove rjx_student_erro_two"></i>
		</div>
		<!--编辑信息-->
		<div class="rjx_student_more_elit">
			<div class="rjx_more_elit_con">
				<div class="rjx_more_elit_mes">
					<ul>
						<li><span>姓名:</span><input type="text" /></li>
						<li><span>性别:</span><input type="text" /></li>
						<li><span>宿舍号:</span><input type="text" /></li>
						<li><span>出生年月:</span><input type="text" /></li>
					</ul>
					<ul>
						<li><span>家长姓名:</span><input type="text" /></li>
						<li><span>学生电话:</span><input type="text" /></li>
						<li><span>家长电话:</span><input type="text" /></li>
					</ul>
					<ul>
						<li><span>班主任:</span><input type="text" /></li>
						<li><span>授课老师:</span><input type="text" /></li>
						<li><span>班主任电话:</span><input type="text" /></li>
					</ul>
					<p class="rjx_elit_map"><span>家庭住址:</span><input type="text" /></p>
					<ul>
						<li><span>实训阶段:</span><input type="text" /></li>
						<li><span>综合分数:</span><input type="text" /></li>
					</ul>
					<span class="rjx_elit_my_erro button button-rounded button-flat-caution">违纪详情</span>
				</div>
				<div class="rjx_a_more_achievement">
					<p>周考成绩</p>
					<div class="rjx_a_detailed">
						<ul>
							<li>第一周</li>
							<li>第二周</li>
							<li>第三周</li>
							<li>第四周</li>
						</ul>
						<ul>
							<li><input type="text" /></li>
							<li><input type="text" /></li>
							<li><input type="text" /></li>
							<li><input type="text" /></li>
						</ul>
					</div>
				</div>
				<i class="glyphicon glyphicon-remove rjx_student_elit_one"></i>
				<button class="querenxiugai">确认修改</button>
			</div>
		</div>
		<!--违纪修改-->
		<div class="rjx_a_discipline">
			<p>违纪详情</p>
			<table class="table table-hover rjx_table_two">
					<thead>
				    	<th>违纪时间</th>
				    	<th>违纪扣分</th>
				    	<th>违纪事件</th>
					</thead>
					<tbody>
				    	<tr>
				    		<td></td>
				    		<td></td>
				    		<td></td>
				     	</tr>
					</tbody>
				</table>
				<i class="glyphicon glyphicon-remove rjx_student_a_erro_two"></i>
		</div>
		<!--<a ui-sref='.details'></a>-->
		<div class="rjx_fenye">
			<div class="rjx_fenye_main">
				<button class="rjx_top">上一页</button>
				<div><span>1</span>/<span></span></div>
				<button class="rjx_bottom">下一页</button>
			</div>
		</div>
	</rjx_student>
</div>