<div class="student_index_bg" ng-controller="student_indexCtrl">
	<lxm_student>
	<div class="lxm_index_wrapper">
		<div class="lxm_index_wrapper_left">
			<p>我的信息</p>
			<div class="lxm_msg">
				<p><i class="glyphicon glyphicon-user"></i>姓名:<span>李小明</span></p>
				<p><i class="glyphicon glyphicon-tag"></i>性别:<span>男</span></p>
				<p><i class="glyphicon glyphicon-earphone"></i>电话:<span>13103492829</span></p>
				<p><i class="glyphicon glyphicon-home"></i>班级:<span>1604A</span></p>
			</div>
			<span class="button button-rounded button-flat-action">学生守则</span>
			<span class="button button-rounded button-flat-highlight lxm_look_all">查看全部</span>
			<span class="button button-rounded button-flat-caution lxm_pass_mes">修改密码</span>
			<span class="button button-rounded button-flat-primary button-large lxm_not_login">退出登录</span>
		</div>
		<div class="lxm_index_wrapper_right">
			<div class="lxm_right_top">
				<p>学生列表</p>
			</div>
			<table class="table table-hover lxm_table">
				<thead style="pointer-events: none;">
			    	<th>姓名</th>
			    	<th>班级</th>
			    	<th>性别</th>
			    	<th>手机号</th>
			    	<th>宿舍号</th>
				</thead>
				<tbody class="lxm_tbody">
			    	<!--<tr>
			    		<td>李小明</td>
			    		<td>1604a</td>
			    		<td>男</td>
			    		<td>13103491829</td>
			    		<td>619</td>
			     	</tr>-->
				</tbody>
			</table>
			<div class="lxm_all_msg">
				<div class="tcdPageCode"></div>
			</div>
		</div>
	</div>
	<!--详细信息-->
	<div class="lxm_student_more">
		<div class="lxm_more_con">
			<div class="lxm_more_mes">
				<ul>
					<li>姓名:<span></span></li>
					<li>性别:<span></span></li>
					<li>宿舍号:<span></span></li>
					<li>出生年月:<span></span></li>
				</ul>
				<ul>
					<li>家长姓名:<span></span></li>
					<li>学生电话:<span></span></li>
					<li>家长电话:<span></span></li>
				</ul>
				<ul>
					<li>班主任:<span></span></li>
					<li>授课老师:<span></span></li>
					<li>班主任电话:<span></span></li>
				</ul>
				<p class="lxm_map">家庭住址:<span></span></p>
				<ul>
					<li>实训阶段:<span></span></span></li>
					<li>综合分数:<span>100分</span></li>
				</ul>
				<span class="lxm_my_erro button button-rounded button-flat-caution">违纪详情</span>
				<!--<p class="lxm_my_erro">违纪详情</p>-->
			</div>
			<div class="lxm_more_achievement">
				<p>周考成绩</p>
				<div class="lxm_detailed">
					<ul>
						<li>第一周</li>
						<li>第二周</li>
						<li>第三周</li>
						<li>第四周</li>
					</ul>
					<ul>
						<li>100</li>
						<li>100</li>
						<li>100</li>
						<li>100</li>
					</ul>
				</div>
			</div>
			<i class="glyphicon glyphicon-remove lxm_student_erro_one"></i>
			<!--<script type="text/javascript">
				
			</script>-->
		</div>
	</div>
	<!--违纪详情-->
	<div class="lxm_discipline">
		<p>违纪详情</p>
		<table class="table table-hover lxm_table_two">
				<thead>
			    	<th>违纪时间</th>
			    	<th>违纪扣分</th>
			    	<th>违纪事件</th>
				</thead>
				<tbody class="lxm_erro_tbody">
			    	<tr>
			    		<td>2017/4/24</td>
			    		<td>20分</td>
			    		<td>上课喝水</td>
			    	</tr>
				</tbody>
			</table>
			<i class="glyphicon glyphicon-remove lxm_student_erro_two"></i>
	</div>
	
	
	<!--学生守则-->
	<!--<div class="lxm_student_rule">
		<div class="lxm_student_rule_con">
			<p>服饰整洁 仪容端庄举止文雅</p>
			<p>说话和气 待人有礼乐于助人</p>
			<p>尊敬师长 友爱同学诚实守信</p>
			<p>遵守纪律 关心集体爱护校园</p>
			<p>勤奋学习 刻苦钻研努力上进</p>
			<p>讲究卫生 爱护公物勤俭节约 </p>
			<p>男女交往 文明礼让举止得体</p>
			<p>待人接物 以礼相待不卑不亢</p>
			<p>尊老爱幼 孝顺父母不顶不撞</p>
			<p>知法守法 远离毒品不赌拒黄</p>
		</div>
	</div>-->
	
	<div class="lxm_modify_password_wrapper">
		<div class="lxm_modify_password">
			<div class="lxm_login_input"><span></span><input class="lxm_old" type="password" placeholder="请输入旧密码" class="lxm_user" title="请输入旧密码" /></div>
			<div class="lxm_login_input"><span></span><input class="lxm_new" type="password" placeholder="请输入新密码" class="lxm_pass" title="请输入新密码" /></div>
			<span class="button button-rounded button-flat-caution lxm_success">确认修改</span>
			<i class="glyphicon glyphicon-remove lxm_student_erro_three"></i>
		</div>
	</div>
	
	</lxm_student>
</div>
<script>
//	function aa(){
//		$('.lxm_student_more').css('display','none')
//	}
//	$(".tcdPageCode").createPage({
//      pageCount:3,
//      current:1,
//      backFn:function(p){
//          console.log(p);
//          num = p*2-2
//		    $.ajax({
//				type:"get",
//				url:"http://localhost:8888/item/find",
//				data:{
//					begin:num,
//					num:2
//				},
//				async:true,
//				success:function(e){
//					console.log(e)
//					$('.list').children().remove()
//					var html = ''
//					for(var i = 0; i < e[0].length; i++){
//						html += '<ul class="cat"><li>'+e[0][i].username+'</li><li>'+e[0][i].phone+'</li><li><button class="del" id = '+e[0][i].id+'>删除</button><button class = "bianji" id = '+e[0][i].id+'>修改信息</button></li></ul>'
//					}
//					$('.list').append(html)
//				}
//			})
//      }
//  });
</script>