<div ng-controller="student_listCtrl">
	<div class="rjx_student">
		<div class="rjx_student_header">学生列表</div>
		<table border="0" class="rjx_student_main">
			<tr class="rjx_student_main_header">
				<th>姓名</th>
				<th>班级</th>
				<th>性别</th>
				<th>手机号</th>
				<th>操作</th>
			</tr>
			<tr>
				<td>任建新</td>
				<td>1604A</td>
				<td>男</td>
				<td>17600022910</td>
				<td>
					<button>编辑</button>
					<button>删除</button>
				</td>
			</tr>
			
			<tr>
				<td>任建新</td>
				<td>1604A</td>
				<td>男</td>
				<td>17600022910</td>
				<td>
					<button>编辑</button>
					<button>删除</button>
				</td>
			</tr>
			<tr>
				<td>任建新</td>
				<td>1604A</td>
				<td>男</td>
				<td>17600022910</td>
				<td>
					<button>编辑</button>
					<button>删除</button>
				</td>
			</tr>
			<tr>
				<td>任建新</td>
				<td>1604A</td>
				<td>男</td>
				<td>17600022910</td>
				<td>
					<button>编辑</button>
					<button>删除</button>
				</td>
			</tr>
			<tr>
				<td>任建新</td>
				<td>1604A</td>
				<td>男</td>
				<td>17600022910</td>
				<td>
					<button>编辑</button>
					<button>删除</button>
				</td>
			</tr>
			<tr>
				<td>任建新</td>
				<td>1604A</td>
				<td>男</td>
				<td>17600022910</td>
				<td>
					<button>编辑</button>
					<button>删除</button>
				</td>
			</tr>
			<tr>
				<td>任建新</td>
				<td>1604A</td>
				<td>男</td>
				<td>17600022910</td>
				<td>
					<button>编辑</button>
					<button>删除</button>
				</td>
			</tr>
			
			<tr>
				<td>任建新</td>
				<td>1604A</td>
				<td>男</td>
				<td>17600022910</td>
				<td>
					<button>编辑</button>
					<button>删除</button>
				</td>
			</tr>
			<tr>
				<td>任建新</td>
				<td>1604A</td>
				<td>男</td>
				<td>17600022910</td>
				<td>
					<button>编辑</button>
					<button>删除</button>
				</td>
			</tr>
		</table>
	</div>
	<!--<a ui-sref='.details'></a>-->
</div>