<div ng-controller="teacher_indexCtrl" class="rjx_teacher_main">
	 <rjx_studentindex>
	<div class="rjx_teacher">
		<div class="rjx_left">
			<div class="rjx_index_wrapper_left">
			<p>我的信息</p>
			<div class="lxm_msg">
				<p><i class="glyphicon glyphicon-user"></i>姓名:<span class="teacherName"></span></p>
				<p><i class="glyphicon glyphicon-earphone"></i>电话:<span class="teacherTel"></span></p>
			</div>
			<ul class="rjx_nav">
				<li ng-repeat="aa in as" ng-click="huoqu(aa)"  class="button button-rounded button-flat-action lxm_student_rule_btn"><a ui-sref=".student_list({id:aa})">{{aa}}</a></li>
				<li class="button button-rounded button-flat-caution lxm_pass_mes"><a ui-sref="teacher_index">规则</a></li>
				<li  class="button button-rounded button-flat-primary button-large lxm_not_login"><a href="#">退出登录</a></li>
			</ul>
			
		</div>
		</div>
		
		<div class="rjx_main" ui-view="content">
			<div class="rjx_main_left">
				<div class="rjx_main_left_head">教师守则</div>
				<div class="rjx_main_left_content">
					<p><span>第一条</span><br /><span>&#x3000;&#x3000;爱国守法。热爱祖国，热爱人民，拥护中国共产党领导，拥护中国特色社会主义制度。</span></p>
					<p><span>第二条</span><br /><span>&#x3000;&#x3000;敬业爱生。忠诚人民教育事业，以人才培养、科学研究、社会服务和文化传承创新为己任。恪尽职守，甘于奉献。终身学习，刻苦钻研</span></p>
					<p><span>第三条</span><br /><span>&#x3000;&#x3000;教书育人。坚持育人为本，立德树人。遵循教育规律，实施素质教育。</span></p>
					<p><span>第四条</span><br /><span>&#x3000;&#x3000;严谨治学。弘扬科学精神，勇于探索，追求真理，修正错误，精益求精。实事求是，发扬民主，团结合作，协同创新。秉持学术良知，恪守学术规范。</span></p>
				</div>
			</div>
			<div class="rjx_main_right">
				<div class="rjx_main_right_head">学生守则</div>
				<div class="rjx_main_right_content">
					<p>服饰整洁 仪容端庄举止文雅</p>
					<p>说话和气 待人有礼乐于助人</p>
					<p>尊敬师长 友爱同学诚实守信</p>
					<p>遵守纪律 关心集体爱护校园</p>
					<p>勤奋学习 刻苦钻研努力上进</p>
					<p>讲究卫生 爱护公物勤俭节约 </p>
					<p>男女交往 文明礼让举止得体</p>
					<p>待人接物 以礼相待不卑不亢</p>
					<p>尊老爱幼 孝顺父母不顶不撞</p>
					<p>知法守法 远离毒品不赌拒黄</p>
			</div>
		</div>
	</div>
	</rjx_studentindex>
</div>
