<div ng-controller="teacher_indexCtrl" class="rjx_teacher_main">
	 <rjx_studentindex>
	<div class="rjx_teacher">
		<div class="rjx_left">
			<div class="rjx_index_wrapper_left">
			<p>我的信息</p>
			<div class="lxm_msg">
				<p><i class="glyphicon glyphicon-user"></i>姓名:<span class="teacherName"></span></p>
				<p><i class="glyphicon glyphicon-earphone"></i>电话:<span class="teacherTel"></span></p>
			</div>
			<ul class="rjx_nav">
				<li ng-repeat="aa in as" ng-click="huoqu(aa)"  class="button button-rounded button-flat-action lxm_student_rule_btn"><a ui-sref=".student_list({id:aa})">{{aa}}</a></li>
				<li class="button button-rounded button-flat-caution lxm_pass_mes"><a ui-sref="teacher_index">规则</a></li>
				<li  class="button button-rounded button-flat-primary button-large lxm_not_login"><a href="#">退出登录</a></li>
			</ul>
			
		</div>
		</div>
		
		<div class="rjx_main" ui-view="content">
			<div class="rjx_main_left">
				<div class="rjx_main_left_head">教师守则</div>
				<div class="rjx_main_left_content">
					<p><span>第一条</span><br /><span>&#x3000;&#x3000;爱国守法。热爱祖国，热爱人民，拥护中国共产党领导，拥护中国特色社会主义制度。遵守宪法和法律法规，贯彻党和国家教育方针，依法履行教师职责，维护社会稳定和校园和谐。不得有损害国家利益和不利于学生健康成长的言行。</span></p>
					<p><span>第二条</span><br /><span>&#x3000;&#x3000;敬业爱生。忠诚人民教育事业，树立崇高职业理想，以人才培养、科学研究、社会服务和文化传承创新为己任。恪尽职守，甘于奉献。终身学习，刻苦钻研</span></p>
					<p><span>第三条</span><br /><span>&#x3000;&#x3000;教书育人。坚持育人为本，立德树人。遵循教育规律，实施素质教育。注重学思结合，知行合一，因材施教，不断提高教育质量。</span></p>
					<p><span>第四条</span><br /><span>&#x3000;&#x3000;严谨治学。弘扬科学精神，勇于探索，追求真理，修正错误，精益求精。实事求是，发扬民主，团结合作，协同创新。秉持学术良知，恪守学术规范。</span></p>
				</div>
			</div>
			<div class="rjx_main_right">
				<div class="rjx_main_right_head">学生守则</div>
				<div class="rjx_main_right_content">
					<p><span>第一条</span><br /><span>&#x3000;&#x3000;为了适应我系教学改革和发展的需要，加强师资队伍建设，增强全体教师的工作责任心，维护和稳定工商管理系的正常教学秩序。</span></p>
					<p><span>第二条</span><br /><span>&#x3000;&#x3000;教师必须忠诚教育事业，努力学习马列主义、毛泽东思想、邓小平理论和“三个代表”重要思想，贯彻执行党的教育方针，。</span></p>
					<p><span>第三条</span><br /><span>&#x3000;&#x3000;为了适应我系教学改革和发展的队伍建设，增强教学秩序，管理工作逐步实现科学化、规范化，特制定教师工作规范。</span></p>
					<p><span>第四条</span><br /><span>&#x3000;&#x3000;教师必须忠诚教育事业，努力学小平理论和“三个代表”重要思想，贯彻执行党的教育方针，具有高尚师德
			</div>
		</div>
	</div>
	</rjx_studentindex>
</div>
